header{

	background-color: #fdcae1;
	padding: 5px 0px; 
}

.logo{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 40px;

position: absolute;
width: 120px;
height: 48px;
left: 40px;
top: 40px;
}

.titu{
    text-align: center;
    margin-top: 70px;
    font-style: italic;
}

.main {
    background-color: white;
    padding: 50px 90px;
    display: flex;
    justify-content: space-between;
    
    
  }
  
  .form-uno {
    padding: 20px;
    margin: 0 10px;
    background-color: #d3bcf6;
    border-radius: 0.5em;
    border: solid 2px;
    border-color: black;
    width: 25em;
    height: 35vw;
    align-items: left;
  }
  
  .form-dos {
    padding: 20px;
    margin: 0 10px;
    background-color: #d3bcf6;
    border-radius: 0.5em;
    border: solid 2px;
    border-color: black;
    width: 25em;
    height: 35vw;
    align-items: right;
  }
  

  .ind{

    font-size: 20px;
    text-align: center;
    font-style: italic;
    margin: 0 auto;
    padding: 10px 10px;
    
  }

  .icad{

    font-size: 20px;
    text-align: center;
    font-style: italic;
    margin: 0 auto;
    padding: 10px 10px;

  }

  .text-input{
    margin-top: 20px;
    border-radius: 0.5em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: block;
    padding: 0.3em;
    width: 100%;
    height: 20em;
    background-color:#fcfcfa;
    overflow:hidden;
    border: solid 2px;
    border-color: black;
   
  }

  placeholder{
    margin-top:5px
  }


  .btn {
    margin: 50px 50px;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    transition: all 0.3s ease; /* Agregamos una transición suave */
  }

  
  .btn:hover {
    background-color: #bcf6d3; /* Cambiamos el color de fondo al pasar el mouse */
    color: black; /* Cambiamos el color del texto al pasar el mouse */
  }
  

  .btn2{
    margin: 50px 165px;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    transition: all 0.3s ease;
  }

  .btn2:hover {
    background-color: #bcf6d3; /* Cambiamos el color de fondo al pasar el mouse */
    color: black; /* Cambiamos el color del texto al pasar el mouse */
  }

  footer{
    font-size: 18px;
    text-align: center;	
	padding: 40px;
  }
  